header {
  width: 100%;
  position: fixed;
  z-index: 6;
  top: 0;
  left: 0;
  min-height: 164px;
  background-color: rgba(27, 23, 14, 0.6); }

.header_in {
  max-width: 1832px;
  margin: 0 auto; }

.search {
  display: inline-block;
  margin-top: 0; }
  .search form {
    position: relative; }
  .search .input_bg {
    box-sizing: border-box;
    display: inline-block;
    width: 257px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    background-color: #2e2919;
    padding-left: 24px;
    color: #fff; }
  .search .search_button {
    margin-left: -33px;
    background-image: url(../img/icons/search_icon.png);
    background-size: 81%;
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: -5.6px;
    top: 4px; }

nav {
  text-align: center;
  display: inline-block;
  position: relative;
  left: 5%; }

.main_menu {
  display: inline-block;
  text-align: justify;
  position: relative;
  margin-top: 29px; }
  .main_menu li {
    display: inline-block;
    font-weight: 500;
    position: relative;
    margin-right: 36px;
    text-transform: uppercase;
    font-size: 14px; }
    .main_menu li:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #fff;
      right: -22px;
      top: 5px; }
    .main_menu li a {
      color: #fff; }
  .main_menu li:last-child {
    margin-right: 0px; }
  .main_menu li:last-child:after {
    content: none; }
  .main_menu li:nth-child(3):after {
    content: none; }
  .main_menu .logo {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: 12px;
    right: 0;
    top: 2px;
    margin-right: 50px; }

.header_cont {
  display: inline-block;
  position: relative;
  float: right;
  right: 5px;
  width: 249px;
  top: 20px; }
  .header_cont .cont {
    display: inline-block; }
    .header_cont .cont a:first-child {
      color: #fff;
      font-size: 15px;
      font-family: 'TimesNewRomanPSMT';
      font-weight: 400;
      letter-spacing: 0.2px; }
  .header_cont span {
    color: #888882;
    font-size: 12.6px;
    font-weight: 300; }

.call_button {
  box-sizing: border-box;
  width: 228px;
  height: 52px;
  padding: 21px 27px;
  border-radius: 48px;
  position: relative;
  top: 21px;
  color: #fff;
  font-size: 15px;
  text-align: center;
  background-color: #e71818;
  display: inline-block;
  line-height: 7px;
  font-family: 'Calibri';
  font-weight: bold; }

.call_button:before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 50px;
  background-image: url(../img/icons/phone_icon.png);
  height: 50px;
  left: 22px;
  top: -1px;
  background-position: 0 17px;
  background-repeat: no-repeat; }

.main_slider {
  position: relative;
  z-index: 0;
  top: 0; }
  .main_slider .cont_sl {
    height: 1028px;
    /* width: 100%; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    .main_slider .cont_sl .afternextarrow {
      position: absolute;
      right: -329px;
      color: #fff;
      top: 213px;
      font-size: 14px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: -0.5px; }
    .main_slider .cont_sl h1 {
      top: 30.9%;
      left: 0;
      position: relative;
      font-weight: 900;
      font-size: 78px;
      width: 498px;
      letter-spacing: -1.69px;
      line-height: 86px;
      color: #fff; }
    .main_slider .cont_sl span {
      color: #e71818; }
    .main_slider .cont_sl .text_block {
      position: relative;
      top: 31%;
      max-width: 1147px;
      margin: 0 auto; }
      .main_slider .cont_sl .text_block .button {
        top: -18px;
        left: 4px; }

.button {
  box-sizing: border-box;
  min-width: 151px;
  padding: 0 32px;
  height: 46px;
  display: inline-block;
  background-color: #fff;
  text-align: center;
  color: #4d4948;
  line-height: 44px;
  position: relative;
  border-radius: 20px;
  font-family: 'Calibri';
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold; }

.slick-dots {
  bottom: 88px;
  left: -425px; }
  .slick-dots li {
    width: 58px; }
    .slick-dots li button:before {
      font-family: 'slick';
      font-size: 19.4px;
      line-height: 20px;
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      text-align: center;
      opacity: 1;
      color: #fff;
      -webkit-font-smoothing: antialiased; }

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: transparent;
  background: url(../img/icons/active_dote.png) no-repeat;
  height: 64px;
  width: 37px;
  top: -12px; }

.slick-next {
  right: 272px;
  top: 586px;
  position: absolute;
  z-index: 6; }

.slick-prev {
  left: 100px;
  top: 595px;
  height: 50px;
  position: absolute;
  width: 50px;
  z-index: 6; }

.wrapper {
  background-image: url(../img/main_photo.jpg);
  height: 6977px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100%; }

.slick-next:before {
  content: '';
  background: url(../img/icons/right_arrow.png) no-repeat;
  background-size: 31px;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 10;
  display: inline-block; }

.slick-prev:before {
  content: '';
  background: url(../img/icons/left_arrow.png) no-repeat;
  background-size: 31px;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 10;
  display: inline-block; }

html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
  height: 100%;
  position: relative;
  background: #ffffff;
  overflow-x: hidden;
  font-family: "Gotham Pro", Sans-serif; }

a {
  outline: none;
  cursor: pointer;
  text-decoration: none; }

a img {
  border: none;
  cursor: pointer; }

img {
  vertical-align: bottom; }

p {
  margin: 0 0 20px; }

strong, b {
  font-weight: 700; }

table {
  border: 0;
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }

ul li {
  margin: 0;
  padding: 0;
  list-style-type: none; }

hr {
  border: 0; }

*:focus, *:active {
  outline: none; }

#sets {
  max-height: 944px;
  position: relative;
  top: -39px;
  width: 100%; }

.set:nth-child(1) {
  min-width: 997px;
  min-height: 944px;
  position: relative;
  left: 0;
  background-image: url(../img/first_set.jpg);
  background-repeat: no-repeat;
  background-position: center 0.5px;
  background-size: contain;
  float: left; }
  .set:nth-child(1) .set_text {
    max-width: 472px;
    margin: 0 auto;
    position: relative;
    left: -76px;
    top: 283px; }
    .set:nth-child(1) .set_text .button {
      background-color: #e71818;
      color: #fff;
      letter-spacing: 0.7px;
      font-size: 15px;
      top: -28px;
      left: 5px; }
    .set:nth-child(1) .set_text p {
      font-size: 18px;
      max-width: 427px;
      font-family: "Calibri";
      font-weight: 400;
      line-height: 27px;
      color: #101010;
      margin-top: -6px;
      margin-bottom: 34px; }
  .set:nth-child(1) h3 {
    font-size: 39px;
    font-weight: 300;
    letter-spacing: -0.3px;
    position: relative;
    right: -26px; }
    .set:nth-child(1) h3:before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 69px;
      position: absolute;
      left: -27px;
      top: 9%;
      background-color: #e71818; }

.set:nth-child(2) {
  position: relative;
  display: inline-block;
  min-height: 473px;
  min-width: 1017px;
  background-image: url(../img/second_set.jpg);
  background-repeat: no-repeat;
  background-size: contain; }
  .set:nth-child(2) .set_cont {
    max-width: 596px;
    position: relative;
    left: 9.2%;
    padding-top: 34px; }
    .set:nth-child(2) .set_cont .button {
      color: #e71818;
      top: 110px;
      left: -194px; }
    .set:nth-child(2) .set_cont h3 {
      font-weight: 900;
      color: #fff;
      font-size: 46px;
      letter-spacing: 0px;
      position: relative;
      left: 69px;
      top: -9px;
      letter-spacing: -1px; }
    .set:nth-child(2) .set_cont .border {
      display: inline-block;
      min-width: 193px;
      height: 134px;
      background-image: url(../img/icons/border.png);
      background-size: 100%;
      background-position: left 5px;
      background-repeat: no-repeat;
      margin-bottom: 48px;
      position: relative;
      top: -7px;
      margin-left: 73px; }
      .set:nth-child(2) .set_cont .border p {
        text-align: center;
        line-height: 134px;
        font-size: 71px;
        font-weight: 900;
        letter-spacing: -6px;
        padding-top: 7px;
        color: #fff; }
    .set:nth-child(2) .set_cont .small_slider {
      display: inline-block;
      max-width: 644px;
      height: 217px;
      left: 31px;
      top: 18px; }
      .set:nth-child(2) .set_cont .small_slider .slide_block {
        font-family: "Calibri";
        line-height: 26px;
        color: #fff;
        position: relative;
        min-height: 348px; }
        .set:nth-child(2) .set_cont .small_slider .slide_block .sl_tx {
          position: absolute;
          width: 333px;
          right: 21px;
          top: 128px; }
      .set:nth-child(2) .set_cont .small_slider .slick-next {
        right: 22px;
        top: 321px;
        background-color: #fff;
        height: 45.320px;
        width: 46px; }
        .set:nth-child(2) .set_cont .small_slider .slick-next:before {
          background: url(../img/icons/set_right.png) no-repeat;
          background-size: 6px;
          background-position: 13px center; }
      .set:nth-child(2) .set_cont .small_slider .slick-prev {
        left: 531px;
        top: 321px;
        height: 45.320px;
        width: 46px;
        background-color: #fff;
        background-image: linear-gradient(to right top, #ffffff, #fafafa, #f5f5f5, #f1f1f1, #ececec, #ececec, #ececec, #ececec, #f1f1f1, #f5f5f5, #fafafa, #ffffff);
        background-position: 44px;
        background-repeat: no-repeat; }
        .set:nth-child(2) .set_cont .small_slider .slick-prev:before {
          background: url(../img/icons/set_left.png) no-repeat;
          background-size: 6px;
          background-position: center; }

.set:nth-child(3) {
  position: relative;
  display: inline-block;
  min-height: 473px;
  background-image: url(../img/third_set.jpg);
  background-repeat: no-repeat;
  background-size: contain; }
  .set:nth-child(3) .set_text {
    max-width: 469px;
    position: relative;
    left: 9.3%;
    top: 92px; }
    .set:nth-child(3) .set_text .button {
      top: 25px;
      left: 2px;
      background-color: #e71818;
      color: #fff; }
  .set:nth-child(3) .set_list {
    margin-top: -17px;
    position: relative; }
    .set:nth-child(3) .set_list li {
      color: #fff;
      margin-bottom: 11px;
      font-family: 'Calibri';
      font-size: 17px; }
      .set:nth-child(3) .set_list li:before {
        content: '';
        display: inline-block;
        width: 13px;
        background-color: #fff;
        height: 2px;
        vertical-align: middle;
        margin-right: 6px; }
  .set:nth-child(3) h3 {
    font-size: 39px;
    font-weight: 300;
    letter-spacing: -0.3px;
    position: relative;
    right: -26px;
    color: #c6ced8; }
    .set:nth-child(3) h3:before {
      content: '';
      display: inline-block;
      width: 5px;
      height: 69px;
      position: absolute;
      left: -27px;
      top: 9%;
      background-color: #e71818; }

#partners {
  position: relative;
  top: -38px;
  background-color: #fff;
  padding-top: 101px;
  padding-bottom: 143px; }
  #partners .part_cont {
    max-width: 1327px;
    margin: 0 auto;
    position: relative; }
    #partners .part_cont h2 {
      text-align: center;
      font-size: 47px;
      box-sizing: border-box;
      padding-top: 56px;
      text-transform: uppercase;
      font-weight: 300;
      position: relative;
      letter-spacing: 3px;
      height: 274px;
      background-image: url(../img/icons/search_symb.png);
      background-position: center -2px;
      background-repeat: no-repeat;
      margin-bottom: 3px; }
    #partners .part_cont h2:before {
      content: '';
      display: inline-block;
      width: 124px;
      position: absolute;
      height: 2px;
      background-color: #d9d9d9;
      top: 137px;
      margin-left: 4px; }
    #partners .part_cont h2:after {
      content: '';
      display: inline-block;
      width: 124px;
      position: absolute;
      height: 2px;
      background-color: #d9d9d9;
      top: 137px;
      margin-left: -131px; }
    #partners .part_cont .nm {
      margin-left: -23px; }
    #partners .part_cont .part {
      display: inline-block;
      width: 206px;
      vertical-align: text-top;
      margin-right: 81px;
      text-align: center;
      box-sizing: border-box; }
      #partners .part_cont .part:last-child {
        margin-right: -107px; }
      #partners .part_cont .part .part_text {
        padding-left: 20px;
        font-family: 'Calibri';
        padding-top: 30px;
        line-height: 19px; }

.someh {
  position: relative; }
  .someh .ll {
    position: absolute;
    display: inline-block;
    width: 200%;
    height: 2px;
    right: 72%;
    top: 137px;
    background-color: #f6f6f6; }
  .someh .rl {
    position: absolute;
    display: inline-block;
    width: 200%;
    height: 2px;
    left: 72%;
    top: 137px;
    background-color: #f6f6f6; }

/*# sourceMappingURL=style.css.map */
